#window {
	width: 700px;
	height: 700px;
	border: none;
	border-collapse: collapse;
	border-spacing: none;
	position: relative;
}

#window td {
	border-spacing: 0px;
	padding: 0px;
	position: relative;
}

#window td > img {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
	filter: drop-shadow(0 0 5px rgb(240, 233, 226));
}

#ball {
	box-sizing: border-box;
	position: absolute;
	z-index: 100;
	width: 700px;
	height: 50px;
	background-color: rgba(205, 203, 203, 0.447);
	font-size: 30px;
	color: white;
	font-weight: 900;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	font-family: monospace;
	justify-content: center;
	align-items: center;
}

#game_end {
	box-sizing: border-box;
	position: absolute;
	z-index: 100;
	width: 700px;
	height: 50px;
	background-color: rgba(63, 58, 160, 0.447);
	font-size: 20px;
	color: white;
	font-weight: 900;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	font-family: monospace;
	justify-content: center;
	align-items: center;
}

#monster {
	box-sizing: border-box;
	position: absolute;
	z-index: 100;
	width: 700px;
	height: 100px;
	background-color: rgba(186, 125, 125, 0.447);
	color: white;
	font-weight: 900;
	font-size: 30px;
	text-align: center;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 10px;
	display: flex;
	font-family: monospace;
	justify-content: center;
	align-items: center;
}

.ball_identifier {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 0, 0, 0.467);
	border: 2px solid white;
	font-size: 10px;
	font-family: monospace;
	color: white;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
