{% extends '../base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'worldmap.css' %}">
{% endblock style %}

{% block screen %}
{% for lst_1d in lst_2d %}
<tr>
{% for elem in lst_ld %}
{% if elem == 'n' %}
<td><img src='north.png'></td>
{% elif elem == 's' %}
<td><img src='south.png'></td>
{% elif elem == 'w' %}
<td><img src='west.png'></td>
{% elif elem == 'e' %}
<td><img src='east.png'></td>
{% else %}
<td></td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
{% endblock screen %}
