*.DS_Store
*.swp
*.o
00_libft/libft/libftest
00_libft/libft/warmachine
00_libft/unittest
00_libft/libft/tester
99_testers/
50_pythonpiscine/day03/ex01/logfile.log
50_pythonpiscine/day03/ex01/piscinebox
50_pythonpiscine/day03/*/local_lib
50_pythonpiscine/day03/*/django_venv
