{% extends "ex01/base.html" %}
{% load static %}

{% block title %}
<title>Ex01: Display process of a static page.</title>
{% endblock title %}

{% block content %}
<h1>Display Process</h1>
<hr>
<ul>
	<li>We connect urls of application and project.</li>
	<li>httpresponse provides inbound http request to application with a text response.</li>
	<li>render provides rendering html file with appropriate setting and send a request to application.</li>
	<li>Django uses request and response object to pass state through the system.</li>
	<li>when a page is requested, Django creates an HttpRequest object that contains metadata about the request</li>
	<li>and Django loads (returns) the appropriate view with this HttpRequest object.</li>
	<li>in short, Django receives web requests and return web responses.</li>
</ul>
<h1>How it works</h1>
<hr>
<ol>
	<li>Django Application gets HTTP request from browser.</li>
	<li>when received, web application analyzes what request really wants, via POST and GET data</li>
	<li>and web application does requested actions (read/write from database, etc...)</li>
	<li>after it is done, application returns a response, mostly with showing html page.</li>
</ol>
<br>
{% endblock content %}
