{% extends "ex01/base.html" %}
{% load static %}

{% block title %}
<title>Ex01: Django, framework web.</title>
{% endblock title %}

{% block content %}
<h1>About Django</h1>
<hr>
<p>
	Django (/ˈdʒæŋɡoʊ/ JANG-goh; sometimes stylized as django) is a Python-based free and open-source web framework that follows the model–template–views (MTV) architectural pattern.
	<br>It is maintained by the Django Software Foundation (DSF), an American independent organization established as a 501(c)(3) non-profit.
	<br>Django's primary goal is to ease the creation of complex, database-driven websites.
	<br>The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself.
	<br>Python is used throughout, even for settings, files, and data models.
	<br>Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.
</p>
<br>
<h1>History of Django</h1>
<hr>
<p>
	Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications.
	<br>Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.
	<br>It was released publicly under a BSD license in July 2005.
	<br>The framework was named after guitarist Django Reinhardt. Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.
</p>
{% endblock content %}
