{% extends "ex01/base.html" %}
{% load static %}

{% block title %}
<title>Ex01: Django, framework web.</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'style1.css' %}">
{% endblock style %}

{% block content %}
<h1>About Django</h1>
<hr>
<h1>History of Django</h1>
<hr>
<p>
	Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications.
	<br>Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.
	<br>It was released publicly under a BSD license in July 2005.
	<br>The framework was named after guitarist Django Reinhardt. Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.
</p>
{% endblock content %}
