{% extends 'moviemon/base.html' %}
{% load static %}

{% block title %}
<title>Moviemon</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'title.css' %}">
{% endblock style %}

{% block screen %}
<div class="title_screen">
	<div>
		<img src="{% static 'media/dj.png' %}">
		<div class="title_logo">
			Moviemon
		</div>
	</div>
	<div>
		A : NEW GAME<br>B : LOAD GAME
	</div>
</div>
{% endblock screen %}

{% block control %}
	<table id="control">
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td class="ctrl_cross ctrl_up" onclick="{{ btn_north }}"></td>
				<td></td>
				<td></td>
				<td></td>
				<td><div class="ctrl_AB" onclick="{{ btn_b }}">B</div></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td class="ctrl_cross ctrl_left" onclick="{{ btn_west }}"></td>
				<td style="background-color: rgb(50, 47, 47);"></td>
				<td class="ctrl_cross ctrl_right" onclick="{{ btn_east }}"></td>
				<td></td>
				<td><div class="ctrl_AB" onclick="{{ btn_a }}">A</div></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td class="ctrl_cross ctrl_down" onclick="{{ btn_south }}"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><div class="ctrl_SS" onclick="{{ btn_start }}">start</div></td>
				<td><div class="ctrl_SS" onclick="{{ btn_select }}">select</div></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
{% endblock control %}
