{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	{% endblock title %}
	<link rel="stylesheet" href="{% static 'reset.css' %}">
	<link rel="stylesheet" href="{% static 'controller.css' %}">
	<link rel="stylesheet" href="{% static 'background.css' %}">
	{% block style %}
	{% endblock style %}
</head>
<body>
	<div class="back_machine">
		<div class="back_screen">
			<div class="back_gameplay">
				{% block screen %}

				{% endblock screen %}
			</div>
		</div>
		<div class="back_control">
			<div class="back_django">
				<img src="{% static 'media/dj.png' %}">
			</div>
			<table id="control">
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td class="ctrl_cross ctrl_up">
							<a href="?dir='w'"></a>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td><div class="ctrl_AB">B</div></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="ctrl_cross ctrl_left"></td>
						<td style="background-color: rgb(50, 47, 47);"></td>
						<td class="ctrl_cross ctrl_right"></td>
						<td></td>
						<td><div class="ctrl_AB" onclick="">A</div></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td class="ctrl_cross ctrl_down"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><div class="ctrl_SS">start</div></td>
						<td><div class="ctrl_SS">select</div></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
