{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	{% endblock title %}
	<link rel="stylesheet" href="{% static 'reset.css' %}">
	<link rel="stylesheet" href="{% static 'controller.css' %}">
	<link rel="stylesheet" href="{% static 'background.css' %}">
	{% block style %}
	{% endblock style %}
</head>
<body>
	<div class="back_machine">
		<div class="back_screen">
			<div class="back_gameplay">
				{% block screen %}

				{% endblock screen %}
			</div>
		</div>
		<div class="back_control">
			<div class="back_django">
				<img src="{% static 'media/dj.png' %}">
			</div>
			<table id="control">
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td class="ctrl_cross ctrl_up" onclick="{{ btn_north }}"></td>
						<td></td>
						<td></td>
						<td></td>
						<td><div class="ctrl_AB ctrl_B" onclick="{{ btn_b }}">B</div></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td class="ctrl_cross ctrl_left" onclick="{{ btn_west }}"></td>
						<td style="background-color: rgb(50, 47, 47);"></td>
						<td class="ctrl_cross ctrl_right" onclick="{{ btn_east }}"></td>
						<td></td>
						<td><div class="ctrl_AB ctrl_A" onclick="{{ btn_a }}">A</div></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td class="ctrl_cross ctrl_down" onclick="{{ btn_south }}"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><div class="ctrl_SS ctrl_start" onclick="{{ btn_start }}">start</div></td>
						<td><div class="ctrl_SS ctrl_select" onclick="{{ btn_select }}">select</div></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		document.addEventListener("keydown", (e) => {
		  switch (e.key) {
			case "W":
		    case "w":
		      document.querySelector(".ctrl_up").onclick();
		      break;
		    case "A":
		    case "a":
		      document.querySelector(".ctrl_left").onclick();
		      break;
		    case "S":
		    case "s":
		      document.querySelector(".ctrl_down").onclick();
		      break;
		    case "D":
		    case "d":
		      document.querySelector(".ctrl_right").onclick();
		      break;
			case "V":
		    case "v":
		      document.querySelector(".ctrl_start").onclick();
		      break;
			case "B":
		    case "b":
		      document.querySelector(".ctrl_select").onclick();
		      break;
			case "K":
		    case "k":
		      document.querySelector(".ctrl_A").onclick();
		      break;
			case "L":
		    case "l":
		      document.querySelector(".ctrl_B").onclick();
		      break;
		    default:
		      break;
		  }
		});
	</script>
</body>
</html>
