{% extends 'moviemon/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'battle.css' %}">
{% endblock style %}

{% block screen %}
<div id="battle_transparent_background">
	<div id="battle_screen">
		<div id="enemy">
			<div>
					{{ movie_name }}
			</div>
			<div>
					Strength ★ {{ movie_strength }}
			</div>
			<div>
				Press B to return to worldmap.
			</div>
			<img src="{{movie_poster}}">
		</div>
		<div id="slash"></div>
		<div id="player">
			<img src="{% static 'media/fight.png' %}">
			<div>
				{{ movieball }} ball left
			</div>
			<div>
				Strength ★ {{ my_strength }}
			</div>
			<div>
				about {{ capture_rate }}% <br> success rate
			</div>
			{% if movieball == 0 %}
			<div>
				You have no ball!! 😿
			</div>
			{% else %}
			{% if flag == 1 %}
			<div>
				Capture failed! 😿<br>A - Throw ball again
			</div>
			{% elif flag == 2 %}
			<div>
				You captured {{ movie_name }}!!
			</div>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock screen %}
