{% extends 'moviemon/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'load_game.css' %}">
<style>
	#load_screen > div:nth-child({{ load_index }}) {
		box-sizing: border-box;
		border: 10px solid black;
	}
</style>
{% endblock style %}

{% block screen %}
<div id="load_transparent_background">
	<div id="load_screen">
		<div>
			SLOT A<br><span>{{ slota }}</span>
		</div>
		<div>
			SLOT B<br><span>{{ slotb }}</span>
		</div>
		<div>
			SLOT C<br><span>{{ slotc }}</span>
		</div>
		{% if load_flag is not None %}
		<div>
			Press A to Start game, Press B to cancel
		</div>
		<div id="load_alert">
			Loading {{ load_flag }}.
		</div>
		{% else %}
		<div>
			Press A to load, Press B to cancel
		</div>
		{% endif %}
	</div>
</div>
{% endblock screen %}
