{% extends 'moviemon/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'worldmap.css' %}">
{% endblock style %}

{% block screen %}
<table id="window">
{% for i in table_row %}
	<tr>
		{% for j in table_col %}
			{% if i == loc_char.1 and j == loc_char.0 %}
				{% if loc_char.2 == 'n' %}
				<td><img src="{% static 'media/north.png' %}"></td>
				{% elif loc_char.2 == 's' %}
				<td><img src="{% static 'media/south.png' %}"></td>
				{% elif loc_char.2 == 'w' %}
				<td><img src="{% static 'media/west.png' %}"></td>
				{% elif loc_char.2 == 'e' %}
				<td><img src="{% static 'media/east.png' %}"></td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
		{% endfor %}
	</tr>
{% endfor %}
</table>
{% endblock screen %}
