{% extends 'moviemon/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'worldmap.css' %}">
{% endblock style %}

{% block screen %}
<table id="window">
{% for i in table_row %}
	<tr>
		{% for j in table_col %}
			{% if i == coord_y and j == coord_x %}
				{% if move_dir == 'n' %}
				<td style="width: {{ width }}px; height: {{ width }}px;">
					<div class="ball_identifier">{{ movieball }}</div>
					<img src="{% static 'media/north.png' %}">
				</td>
				{% elif move_dir == 's' %}
				<td style="width: {{ width }}px; height: {{ width }}px;">
					<div class="ball_identifier">{{ movieball }}</div>
					<img src="{% static 'media/south.png' %}">
				</td>
				{% elif move_dir == 'w' %}
				<td style="width: {{ width }}px; height: {{ width }}px;">
					<div class="ball_identifier">{{ movieball }}</div>
					<img src="{% static 'media/west.png' %}">
				</td>
				{% elif move_dir == 'e' %}
				<td style="width: {{ width }}px; height: {{ width }}px;">
					<div class="ball_identifier">{{ movieball }}</div>
					<img src="{% static 'media/east.png' %}">
				</td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
		{% endfor %}
	</tr>
{% endfor %}
{% if flag == 1 %}
<div id="ball">you got a new ball!</div>
{% elif flag == 2 %}
<div id="monster">
	you encountered a movie!<br><br>
	A - Battle!
</div>
{% elif flag == 3 %}
<div id="game_end">
	Congraturations! You catched all the moviemons!
</div>
{% endif %}
</table>
{% endblock screen %}
