{% extends 'moviemon/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'worldmap.css' %}">
{% endblock style %}

{% block screen %}
<table id="window">
{% for i in table_row %}
	<tr>
		{% for j in table_col %}
			{% if i == loc_char.1 and j == loc_char.0 %}
				{% if loc_char.2 == 'n' %}
				<td><img src="{% static 'media/north.png' %}"></td>
				{% elif loc_char.2 == 's' %}
				<td><img src="{% static 'media/south.png' %}"></td>
				{% elif loc_char.2 == 'w' %}
				<td><img src="{% static 'media/west.png' %}"></td>
				{% elif loc_char.2 == 'e' %}
				<td><img src="{% static 'media/east.png' %}"></td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
		{% endfor %}
	</tr>
{% endfor %}
</table>
{% endblock screen %}

{% block control %}
<table id="control">
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td class="ctrl_cross ctrl_up">
				<a href="{% url '' move_dir=north %}"></a>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td><div class="ctrl_AB">B</div></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="ctrl_cross ctrl_left"></td>
			<td style="background-color: rgb(50, 47, 47);"></td>
			<td class="ctrl_cross ctrl_right"></td>
			<td></td>
			<td><div class="ctrl_AB" onclick="">A</div></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td class="ctrl_cross ctrl_down"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><div class="ctrl_SS">start</div></td>
			<td><div class="ctrl_SS">select</div></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock control %}
