table {
	width: 100%;
	border-color: black;
	border-collapse: collapse;
	font-size: 30px;
}
td {
	width: 5.55555555556%;
	height: 200px;
	border: 2px solid black;
	text-align: center;
}
ul {
	width: 100%;
	text-align: center;
	align-items: center;
}
li {
	list-style-type: none;
}