.title_screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.title_screen > div:nth-child(1) {
	width: 100%;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.title_screen > div:nth-child(2) {
	width: 70%;
	height: 200px;
	background-color: rgba(12, 12, 12, 0.44);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 30px;
	border-radius: 30px;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	animation: put_shadow 0.3s ease-in-out infinite;
}

@keyframes put_shadow {
	0% {
		filter: drop-shadow(0 0 5px rgb(240, 233, 226));
	} 50% {
		filter: drop-shadow(0 0 10px rgb(240, 233, 226));
	} 100% {
		filter: drop-shadow(0 0 5px rgb(240, 233, 226));
	}
}

.title_screen:hover {
	cursor: default;
}

.title_logo {
	background-color: rgba(202, 211, 201, 0.57);
	filter: drop-shadow(0 0 0.5rem white);
	z-index: 1;
	width: 300px;
	height: 100px;
	font-size: 50px;
	font-weight: 900;
	font-family: fantasy;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	position: absolute;
	top: 150px;
}

@keyframes turnlogo {
	from {
		transform: rotateZ(0deg);
	} to {
		transform: rotateZ(360deg);
	}
}

.title_screen > div > img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 150px;
	background-color: white;
	border-radius: 50%;
	z-index: 100;
	animation: turnlogo 0.5s ease-in-out infinite;
	filter: drop-shadow(0 0 0.5rem white);
}
